@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');

$toColor: #602C4F;
$fromColor: #070135;



html, body {
    background: linear-gradient(to right top, $fromColor, $toColor );
    height: 100%;
    font-family: 'Lato';
    color: #ffffff;
}
